.App {
  text-align: center;
}

.title{
  color: #8b0717;
  text-align: center;
  text-decoration: underline;
  background: rgb(83, 206, 185);
  border: 5px solid black;
  border-radius: 20px;
  background-size: cover;
}